body {
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 500px;
}

.clock-face {
    background: yellow;
    border: 10px solid blue;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 130px;
    padding: 5px;
    position: relative;
}

.hand {
    background: black;
    height: 6px;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition-timing-function: ease-in-out;
}

.minute-hand, .hour-hand, .second-hand{
    background: maroon;
}
